# Виртуальное окружение (не нужно никому, кроме тебя)
venv/
__pycache__/
*.pyc

# Папки сборки PyInstaller (они создаются автоматически)
build/
dist/
*.spec

# Файл конфигурации (там могут быть тестовые токены)
config.json

# Временные файлы
*.log
*.tmp
